@media (min-width: 992px) {
}
@media (max-width: 991px) {
  .header .logo img {
    max-width: 90px;
  }
  .header .logo {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .section__padding {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media only screen and (min-width: 991px) and (max-width: 1199px) {
}

/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 990px) {
}

/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
}

/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
}
